:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    /*opsi backgrond*/
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    --font-young-serif: "Young Serif", serif;
    --font-outfit: "Outfit", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-outfit);
    font-size: 16px;
    background-color: var(--stone-150);
    color: var(--stone-900);
    margin: 0;
    padding: 10px;
}

.young-serif-regular {
    font-family: var(--font-young-serif);
    font-weight: 400;
    font-style: normal;
}

.outfit-regular {
    font-family: var(--font-outfit);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.young-serif-standart {
    font-family: var(--font-young-serif);
    font-weight: 600;
    font-style: normal;
}

.outfit-standart {
    font-family: var(--font-outfit);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 420px;
    width: 100%;
}

.omlet-image {
    width: 100%;
    height: auto;
    padding: 5px;
}

.preparation-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--stone-150);
    border-radius: 10px;
}

.preparation-time h2 {
    margin-bottom: -2rem;
    font-weight: 600;
    width: 100%;
    text-align: left;
    color: var(--rose-800);
    margin-left: 2rem;
}

.preparation-time ul {
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    font-family: var(--font-outfit);
    weight: 400;

}

.bold-total {
    font-weight: bold;
}

.container {

    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 500px;

}

.header div {
    width: 100px;

}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    max-width: 220px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 5px;
}

.instructions h2 {
    margin-bottom: -2rem;
    font-weight: 600;
    text-align: left;
}

.instructions ol {
    margin-left: 1rem;
    padding-left: 1rem;
}

.instructions ol li {
    line-height: 1.5;
    padding-left: 1rem;
}

.instructions ol li::marker {
    font-weight: 700;
    color: var(--brown-800);
}

.nutrition-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5rem;
}

.nutrition h2 {
    font-weight: 600;
    text-align: left;
    color: var(--brown-800);
}

.nutrition-table tr {
    border-bottom: 1px solid var(--stone-150);
}

.nutrition-table tr:last-child {
    border-bottom: none;
}

.nutrition-table td {
    padding: 12px 32px;
    color: var(--stone-600);
}

.nutrition-table td:last-child {
    color: var(--brown-800);
    font-weight: 700;
}

.food-description {
    font-size: 14px;

    font-family: var(--font-outfit);
}